# Server
NODE_ENV=development
PORT=3000

# MongoDB
MONGO_URI=XXXX

# Cache
CACHE_TTL=XXXX
REDIS_CACHE_LIVE=XXXX
REDIS_CACHE_DEV=XXXX

# Rate Limiting
RATE_LIMIT_WINDOW_MS=XXXX
RATE_LIMIT_MAX_FREE=XXXX
RATE_LIMIT_MAX_PRO=XXXX

# Auth
API_KEY_SALT=XXXX
ACCESS_PUBLICE_KEY=XXXX
ACCESS_PRIVATE_KEY=XXXX
REFRESH_PUBLIC_KEY=XXXX
REFRESH_PRIVATE_KEY=XXXX

# Stripe
STRIPE_SECRET_KEY=XXXX
STRIPE_WEBHOOK_SECRET=XXXX
STRIPE_PRICE_STARTER_MONTHLY=XXXX
STRIPE_PRICE_STARTER_YEARLY=XXXX
STRIPE_PRICE_PRO_MONTHLY=XXXX
STRIPE_PRICE_PRO_YEARLY=XXXX
STRIPE_PRICE_ENTERPRISE_MONTHLY=XXXX
STRIPE_PRICE_ENTERPRISE_YEARLY=XXXX

# PAYMOB
PAYMOB_API=XXXX
PAYMOB_API_INTENTION=XXXX
PAYMOB_iframes_id=XXXX
Paymob_API_Key=XXXX
Paymob_Secret_Key=XXXX
Paymob_Public_Key=XXXX
Paymob_integration_id_Card=XXXX
Paymob_integration_id_Wallet=XXXX
PAYMOB_HMAC=XXXX

# CLOUDINARY CLOUD
CLOUDINARY_CLOUD_NAME=XXXX
CLOUDINARY_API_KEY=XXXX
CLOUDINARY_API_SECRET=XXXX

# Emails
EMAIL_USER=XXXX
EMAIL_PASS=XXXX
